<footer>
  <div class="footer-inner">
    <div>
      <div class="footer-logo">
        <a href="#hero">
          <img class="logo-icon-nav" src="../img/logo_fuer_dunklen_hintergrund.png" alt="MD" />
        </a>
      </div>
    </div>
    <div class="footer-center">© Mahir Durna 2026</div>
    <div class="footer-right">
      <a href="https://github.com/DurnaMa" target="_blank">Github</a>
      <a href="https://linkedin.com/in/mahir-durna" target="_blank">LinkedIn</a>
      <a href="mailto:contact@mahir-durna.de">Email</a>
      <a href="../impressum/impressum.html" data-i18n="footer.legal">Legal Notice</a>
      <a href="../datenschutz/datenschutz.html" data-i18n="footer.privacy">Privacy Policy</a>
    </div>
  </div>
</footer>
