<nav>
    <div class="nav-inner">
        <div class="nav-left ">
            <div class="lang-toggle">
                <span class="active">EN</span>
                <span>DE</span>
            </div>
            <ul class="nav-links">
                <li><a href="#about">About me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Projects</a></li>
            </ul>
        </div>
        <a href="#hero" class="logo-nav">
            <img class="logo-icon-nav" src="../img/logo_fuer_dunklen_hintergrund.png" alt="MD">
        </a>
    </div>
</nav>